
header nav.navbar {
    background-color: #610388;
}

header .navbar-light .navbar-nav .nav-link {
    color: white;
}

header #Group_11 {
    color: white;
}

header svg.address_i > path {
    fill: white;
}

.oneblog-title {
    /*font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;*/
    color: rgba(112,112,112,1);
}

p {
    /*line-height: 30px;
            text-align: justify;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;*/
    color: rgba(112,112,112,1);
}


div.item-box div.item-box-image {
    position: relative;
}

    div.item-box div.item-box-image div.item-box-image-tags {
        position: absolute;
        top: 50px;
        left: 0;
        background-color: rgba(110,0,156,0.9);
        color: wheat;
        padding: 10px;
    }

div.item-box .item-box-content .item-box-content-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(112,112,112,1);
}



div.item-box .item-box-content .item-box-content-price {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(110,0,156,1);
}
.blogheaderimage{
    max-height:250px;
}

.day {
    border: mediumpurple;
    border-style: solid;
    border-bottom: none;
    border-right: none;
    padding: 10px;
    background: lightgrey;
}

.tourdetail {
    padding: 10px;
    border: lightgrey;
    border-style: solid;
}