@{
    ViewBag.Title = "تایید فراموشی رمز عبور";
    Layout = "~/Views/Shared/_OldLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        لطفا صندوق ایمیل خود و اسپم را بررسی کنید و به روی لینک تایید در ایمیل کلیک کنید.
    </p>
</div>
	
