@{
    ViewBag.Title = "پسورد تغییر یافت";
    Layout = "~/Views/Shared/_OldLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        پسورد شما تغییر یافت. لطفا @Html.ActionLink("برای ورود به حساب کاربری به این لینک بروید", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
