@{
    ViewBag.Title = " blog Page";
}
@section AddToHead
{
    <style>
        header nav.navbar {
            background-color: #610388;
        }

        header .navbar-light .navbar-nav .nav-link {
            color: white;
        }

        header #Group_11 {
            color: white;
        }

        header svg.address_i > path {
            fill: white;
        }


      
        #See_All_Embassy_Pages {
              font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            color: rgba(255,255,255,1);
        }
 
    </style>
}
@* **************************************************** *@

<section id="TOPBLOGS" class="container my-5">

    <div class="tobblog_context">
        <div class="row">
            <div class="col-md-4">
                <div class="tobblog-box">
                    <div class="tobblog-box-image">
                        <div class="text-center">
                            <img class="img-fluid rounded" src="~/img/blog/ragnar_vorel_351414_unsplash.png" />
                            <div class="tobblog-box-image-tags">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <span>2 BEDROOMS</span>

                            </div>
                        </div>
                    </div>
                    <div class="tobblog-content">
                        <h4 class="tobblog-content-title">Bastille Day is the common name given in English-speaking </h4>
                        <p class="tobblog-content-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 13 July 2020</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tobblog-box">
                    <div class="tobblog-box-image">
                        <div class="text-center">
                            <img class="img-fluid rounded" src="~/img/blog/ragnar_vorel_351414_unsplash.png" />
                            <div class="tobblog-box-image-tags">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <span>2 BEDROOMS</span>

                            </div>
                        </div>
                    </div>
                    <div class="tobblog-content">
                        <h4 class="tobblog-content-title">Bastille Day is the common name given in English-speaking </h4>
                        <p class="tobblog-content-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 13 July 2020</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tobblog-box">
                    <div class="tobblog-box-image">
                        <div class="text-center">
                            <img class="img-fluid rounded" src="~/img/blog/ragnar_vorel_351414_unsplash.png" />
                            <div class="tobblog-box-image-tags">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <span>2 BEDROOMS</span>

                            </div>
                        </div>
                    </div>
                    <div class="tobblog-content">
                        <h4 class="tobblog-content-title">Bastille Day is the common name given in English-speaking </h4>
                        <p class="tobblog-content-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 13 July 2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="tobblog-box">
                    <div class="tobblog-box-image">
                        <div class="text-center">
                            <img class="img-fluid rounded" src="~/img/blog/ragnar_vorel_351414_unsplash.png" />
                            <div class="tobblog-box-image-tags">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <span>2 BEDROOMS</span>

                            </div>
                        </div>
                    </div>
                    <div class="tobblog-content">
                        <h4 class="tobblog-content-title">Bastille Day is the common name given in English-speaking </h4>
                        <p class="tobblog-content-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 13 July 2020</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tobblog-box">
                    <div class="tobblog-box-image">
                        <div class="text-center">
                            <img class="img-fluid rounded" src="~/img/blog/ragnar_vorel_351414_unsplash.png" />
                            <div class="tobblog-box-image-tags">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <span>2 BEDROOMS</span>

                            </div>
                        </div>
                    </div>
                    <div class="tobblog-content">
                        <h4 class="tobblog-content-title">Bastille Day is the common name given in English-speaking </h4>
                        <p class="tobblog-content-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 13 July 2020</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tobblog-box">
                    <div class="tobblog-box-image">
                        <div class="text-center">
                            <img class="img-fluid rounded" src="~/img/blog/ragnar_vorel_351414_unsplash.png" />
                            <div class="tobblog-box-image-tags">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <span>2 BEDROOMS</span>

                            </div>
                        </div>
                    </div>
                    <div class="tobblog-content">
                        <h4 class="tobblog-content-title">Bastille Day is the common name given in English-speaking </h4>
                        <p class="tobblog-content-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 13 July 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@* **************************************************** *@
@section scripts
{
    <script>

    </script>
}


