
<footer id="footer_section" class="container-fluid mt-4">
    <div class="row  justify-content-center  p-3">
        <div class="col-md-3">

            <div class="footer-section-address-col">

                <span><img src="~/img/favrental128.png" id="logopng3" class="logopng" alt="logo rentalir" /> </span>
                <span>Rent Apartment in Tehran</span>

            </div>
            <p id="Proin_ac_quam_et_lectus_vestib" class="my-3">
                Experienced agents are at your service to find the best house to rent in Tehran.
                Most of our properties are furnished or semi furnished and all of them are in good neighborhoods which is suitable for foreigners.

            </p>


        </div>

        <div class="col-md-3 ml-md-5 ">
            <div class="footer-section-address-col footer-section-address-col-3">

                <h5>Useful blogs and links</h5>

            </div>
            <div class="col-12 mt-2 footer-section-address-col-2 pl-0">
                <ul>
                    <li>
                        <svg class="Path_1266" viewBox="727.507 4280 3.32 6.056">
                            <path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_1266" d="M 727.5069580078125 4280 L 730.8267822265625 4283.1728515625 L 727.5069580078125 4286.05615234375">
                            </path>
                        </svg> <a href="https://www.rentalir.com/home/rent-short-term-apartment-in-tehran">Rent short term apartment in Tehran</a>
                    </li>
                    <li>
                        <svg class="Path_1266" viewBox="727.507 4280 3.32 6.056">
                            <path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_1266" d="M 727.5069580078125 4280 L 730.8267822265625 4283.1728515625 L 727.5069580078125 4286.05615234375">
                            </path>
                        </svg> <a href="https://www.rentalir.com/blog/6/a-comprehensive-guide-where-to-live-in-tehran">A Comprehensive guide: where to live in Tehran</a>
                    </li>
                    <li>
                        <svg class="Path_1266" viewBox="727.507 4280 3.32 6.056">
                            <path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_1266" d="M 727.5069580078125 4280 L 730.8267822265625 4283.1728515625 L 727.5069580078125 4286.05615234375">
                            </path>
                        </svg> <a href="https://www.rentalir.com/blog/7/tehrans-public-transportation">Tehran's Public Transportation</a>
                    </li>
                    <li>
                        <svg class="Path_1266" viewBox="727.507 4280 3.32 6.056">
                            <path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_1266" d="M 727.5069580078125 4280 L 730.8267822265625 4283.1728515625 L 727.5069580078125 4286.05615234375">
                            </path>
                        </svg> <a href="https://www.rentalir.com/home/SearchPage?AreaName=&PropertyTypeIDList=1">Rent apartment in Tehran</a>
                    </li>

                    <li>
                        <svg class="Path_1266" viewBox="727.507 4280 3.32 6.056">
                            <path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_1266" d="M 727.5069580078125 4280 L 730.8267822265625 4283.1728515625 L 727.5069580078125 4286.05615234375">
                            </path>
                        </svg> <a href="https://www.rentalir.com/home/SearchPage?AreaName=&PropertyTypeIDList=4">Rent Villa in Tehran</a>
                    </li>
                    <li>
                        <svg class="Path_1266" viewBox="727.507 4280 3.32 6.056">
                            <path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_1266" d="M 727.5069580078125 4280 L 730.8267822265625 4283.1728515625 L 727.5069580078125 4286.05615234375">
                            </path>
                        </svg> <a href="https://www.rentalir.com/home/luxury-apartments-in-tehran">Rent luxury house in tehran</a>
                    </li>
                    <li>
                        <svg class="Path_1266" viewBox="727.507 4280 3.32 6.056">
                            <path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_1266" d="M 727.5069580078125 4280 L 730.8267822265625 4283.1728515625 L 727.5069580078125 4286.05615234375">
                            </path>
                        </svg> <a href="https://www.rentalir.com/blog/8/سایت-اجاره-ملک-به-خارجی">اجاره ملک به خارجی</a>
                    </li>

                </ul>
            </div>
            @*@if (TempData["FooterLink"] != null)
                {

                    <ul>
                        @foreach (var item in TempData["FooterLink"] as List
                        <RentalAdmin.Models.PageViewModel.SimpleLink>)
                        {
                            <li>
                                <svg class="Path_1266" viewBox="727.507 4280 3.32 6.056">
                                    <path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_1266" d="M 727.5069580078125 4280 L 730.8267822265625 4283.1728515625 L 727.5069580078125 4286.05615234375">
                                    </path>
                                </svg> <a href="@item.link">@item.txt</a>
                            </li>
                        }
                    </ul>


                }*@

        </div>
        <div class="col-md-3">
            <div class="footer-section-address-col footer-section-address-col-3">
                Contact Us
            </div>
            <div class="col-12 mt-2 footer-section-address-col-2 pl-0">
                <ul class="pl-0">

                    <li>Email: @RentalAdmin.Models.StaticList.EmailToShow</li>
                    <li>Phone Number: +@RentalAdmin.Models.StaticList.PhoneNumber</li>

                    <li>
                        Location: 4th floor, No 50, 8th alley, Khaje abdollah ansari street, Tehran, Iran
                    </li>
                </ul>
            </div>

        </div>

    </div>
    @if (ViewBag.ShowMobilePhone == null || ViewBag.ShowMobilePhone == true)
    {
        <div id="staticContactIconFooter" class="row d-block d-sm-none ">

            <div class="row">
                <div class="col-auto staticContactIconTelFooter "><img src="~/img/header/tellicon.png" class="img-responsive" alt="rentalir phone number"></div>
                <div class="col staticContactIconTextFooter pr-5  "><a href="https://wa.me/@(RentalAdmin.Models.StaticList.PhoneNumber)/?text=@(" Hi")" class="text-white  d-block d-sm-none">+@RentalAdmin.Models.StaticList.PhoneNumberGoodShape</a></div>
            </div>
            
        </div>
    }
    </footer>