@model RentalAdmin.Models.AspNetUser
@{
    ViewBag.Title = "تغییر پسورد " + Model.UserFName + " " + Model.UserLName;
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <ul>
            <li>نام:@Model.UserFName</li>
            <li>نام خانوادگی:@Model.UserLName</li>
            <li>نام کاربری:@Model.UserName</li>
            @if (Model.RegisterDate != null)
            {
                <li>تاریخ ثبت‌نام:@Model.RegisterDate.ToString()</li>
            }
        </ul>
    </div>
    <section class="col-md-12">
        <div class="form-control-static from-normal p-3">
            <form action="~/usersadmin/resetPasswordAdmin" method="post">
                <input hidden name="userID" value="@Model.Id" />
                @Html.AntiForgeryToken()

                <div class="fform-group">
                    <label for="newEmail">
                        پسورد جدید
                    </label>
                    <input type="text" name="newPass" id="newPass" placeholder="پسورد جدید">

                </div>


                <input type="submit" class="btn btn-primary" name="sumbit" id="sumbit" value="sumbit" />
            </form>


        </div>
    </section>

</div>

